* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.add_field {
  background-color: rgb(17, 17, 17);
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid white;
}

.task_input {
  margin-left: 5px;
  padding: 8px;
  border: none;
  border-bottom: solid red;
  background-color: rgb(17, 17, 17);
  color: white;
  outline: none;
}

.task_input:focus{
  border-bottom: solid green; 
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;

  height: 100vh;
}

.list_field {
  background-color: rgb(17, 17, 17);
  position: relative;
}

.lists_division {
  padding: 30px;
  display: none;
}

.active_division {
  display: block;
}

.list{
  list-style-type: none;
}

.key_bind>h2 {
  margin: 20px 0;
}

.key_bind>ul {
  line-height: 40px;
  margin: 0 -30px;
}

.key_bind>ul li {
  text-align: left;
}

/*
but we don't need it here for now
*/
.lists_division, .add_field{
  color: white;
}

h3 {
  font-size: 32px;
}

#uList, #cList, #aList {
  padding: 20px;
  line-height: 30px;
  font-size: 24px;
}

input[type="checkbox"] {
  margin: 0 10px;
}

.left-arrow, .right-arrow {
  position: fixed;
  color: #e2e2e2;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: #83818188;
  cursor: pointer;
  opacity: 0.1;
}

.right-arrow {
  right: 5px;
}

.arrows>span {
  font-size: 100px;
}

.arrows:hover {
  opacity: 0.8;
}
