@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes fromUp {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}

:root {
  --main-bg-color: #252525;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.alert-popup {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 30px;
  padding: 5px 20px;
  width: 40%;
  /* background-color: #e2e2e2; */
  border: none;
  border-radius: 10px;
  z-index: 2;
  animation: fromUp .5s ease-in-out;
  color: white;
}

.cross-mark, .cross-mark2 {
  font-size: 2rem;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.details-popup {
  display: none;
  color: #e2e2e2;
  line-height: 2rem;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #252525;
  padding: 20px;
  width: 30%;
  box-shadow: 10px 5px 5px black;
}

.task-text {
  cursor: pointer;
}

.upper-part {
  display: flex;
  justify-content: space-between;
}

.add_field {
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid white;
}

.task_input {
  margin-left: 5px;
  padding: 8px;
  width: 90%;
  border: none;
  border-bottom: solid red;
  background-color: var(--main-bg-color);
  color: white;
  outline: none;
}

.task_input:focus{
  border-bottom: solid green; 
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 66%;
      grid-template-columns: 33% 66%;

  height: 100vh;
}

.list_field {
  position: relative;
}

.list_field>p {
  float: right;
  background-color: #494949a9;
  color: #e2e2e2;
  padding: .75em;
  margin-top: 1em;
  margin-right: 3em;
  border-radius: 10px;
  cursor: pointer;
}

.list_field>p:hover {
  background-color: #2f2f2f;
}

.lists_division {
  padding: 30px;
  display: none;
}

.active_division {
  display: block;
}

.sort-menu--bg {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.178);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sort-menu {
  display: none;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #2f2f2f;
  padding: 1em 2em;
  border-radius: 5px;
}

.sort-menu--active {
  display: block;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.sort-menu--close {
  /* padding: .5em 1em; */
  text-align: right;
  /* float: right; */
  font-size: 1.5rem;
}

.sort-menu--close span {
  cursor: pointer;
}

.sort-menu--body h4 {
  padding: 0 0 .5em 0;
}

.sort-menu--body hr {
  height: 1px;
  background-color: #000;
  border: none;
}

.sort-type--holder, .sort-order--holder {
  padding: 1.5em 0;
}

.sort-menu--body input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.sort-menu--body input[type="radio"]:checked + label {
  background-color: #FFBF00;
}

.sort-menu--body label {
  padding: .5em 1em;
  border-radius: 20px;
  background-color: #000000a4;
  color: #fff;
  cursor: pointer;
}

.sort-save--div {
  text-align: right;
}

.sort-save--button {
  background-color: #252525;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: pointer;
}

.list{
  list-style-type: none;
}

.key_bind>h2 {
  margin: 20px 0;
}

.key_bind>ul {
  line-height: 40px;
  margin: 0 -8%;
}

.key_bind>ul li {
  text-align: left;
}

.keys {
  /* color: #8a8c84; */
  /* color: #355e3b; */
  /* color: #fff44f; */
  font-weight: 700;
  /* color: #c57893; */
  color: #829ba6;
}

/*
but we don't need it here for now
*/
.lists_division, .add_field, .list_field{
  color: white;
}

h3 {
  font-size: 32px;
}

.to-list::-webkit-scrollbar {
  width: 10px;
}

.to-list {
  padding: 20px;
  line-height: 30px;
  font-size: 24px;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: black;
}

.to-list li {
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 2px;
  box-shadow: 1px 2px 3px black;
  background-color: #2f2f2f;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.title-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overflow-title{
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-part {
  max-height: 0;
  overflow: hidden;
}

.date-text {
  font-size: .75rem;
}

.trash-can {
  width: 35%;
  text-align: right;
}

.icons-sec i{
  margin: 0 .25em;
}

input[type="checkbox"] {
  display: none;
  margin: 0 10px;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-left: 10px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -1px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.fa-trash-alt, .fa-trash-restore, .cross-mark {
  cursor: pointer;
}

.left-arrow, .right-arrow {
  position: fixed;
  color: #e2e2e2;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: #83818188;
  cursor: pointer;
  opacity: 0.1;
}

.right-arrow {
  right: 5px;
}

.arrows>span {
  font-size: 100px;
}

.arrows:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .sort-menu {
    width: 50%;
  }
}

@media screen and (max-width: 700px){
  @keyframes fromUp {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: 90px;
      opacity: 1;
    }
  }

  .grid-layout {
    display: block;
  }

  .alert-popup {
    top: 90px;
    width: 60%;
    animation: fromUp .5s ease-in-out;
  }

  .add_field {
    padding: 20px 10px;
  }

  .key_bind {
    display: none;
  }

  .date-text {
    display: none;
  }

  .details-popup {
    left: 50%;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .sort-menu {
    width: 100%;
    top: 87%;
    height: fit-content;
    animation: popFromBottom .5s ease-in-out;
  }

  @keyframes popFromBottom {
    0% {
      opacity: 0;
      top: 120%;
    }
    100% {
      opacity: 1;
      top: 87%;
    }
  }
}
