@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  /* tags */
  a { @apply text-[#646cff] font-semibold underline hover:text-[#535bf2]; }
  h1 { @apply text-4xl font-bold leading-normal; }
  h3 { @apply text-2xl font-bold leading-normal; }

}

@layer components {
  .sm {
    @apply text-sm p-2;
  }
  .md {
    @apply text-lg p-3;
  }
  .lg {
    @apply text-xl p-4;
  }

  .primary {
    @apply bg-primary text-white;
  }

  .secondary {
    @apply bg-secondary text-white;
  }

  .danger {
    @apply bg-danger text-white;
  }

  .warning {
    @apply bg-warning text-white;
  }

  .success {
    @apply bg-success text-white;
  }

  .solid {
    @apply border-0;
  }

  .outline {
    @apply border-2 bg-transparent;
  }

  .icon {
    @apply text-xs;
  }
}